In [2]:
from pandas_datareader import DataReader as pdr
ff = pdr('F-F_Research_Data_5_Factors_2x3', "famafrench", start="2000-01")[0] / 100
ff.head()

         Mkt-RF     SMB     HML     RMW     CMA      RF
Date
2000-01 -0.0474  0.0444 -0.0191 -0.0631  0.0475  0.0041
2000-02  0.0245  0.1834 -0.0970 -0.1873 -0.0036  0.0043
2000-03  0.0520 -0.1535  0.0817  0.1182 -0.0165  0.0047
2000-04 -0.0640 -0.0501  0.0726  0.0766  0.0565  0.0046
2000-05 -0.0442 -0.0384  0.0481  0.0417  0.0130  0.0050

In [ ]:
; platform_system == "Windows"

In [4]:
from sqlalchemy import create_engine
import pandas as pd
from modules.backtest import cumplot, mvplot, regress
import datapane as dp

In [5]:
with create_engine("sqlite:///files/mydata.db").connect() as conn:
    rets = pd.read_sql("select * from model1", conn)
    rets["market"] = pd.read_sql("select market from market", conn)
    rets["rf"] = pd.read_sql("select rf from market", conn)

In [6]:
rets.head()

      date      best     worst  market      rf
0  2005-01 -0.008444 -0.109462 -0.0260  0.0016
1  2005-02  0.018043 -0.064880  0.0205  0.0016
2  2005-03 -0.014069 -0.136834 -0.0176  0.0021
3  2005-04 -0.034119 -0.087856 -0.0240  0.0021
4  2005-05  0.038612  0.068850  0.0389  0.0024